/* Estilos generales para el formulario de recuperación de contraseña */
.recuperarContrasena {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #1c1c1c;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    color: #f04d23;
    margin-bottom: 15px;
}

p {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 0.9rem;
    font-weight: 300;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
    margin-bottom: 15px;
}

label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    align-self: flex-start; /* Asegura que los labels estén alineados a la izquierda */
}

input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
    margin-bottom: 15px;
    width: 100%; /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding dentro del ancho total */
}

input:focus {
    border-color: #f04d23;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #f04d23;
    color: #ffffff;
    font-size: 1.1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #c43b1b;
}

.error {
    border-color: #ff4d4d !important;
    background-color: #2e2e2e;
}

.error-message {
    color: #ff4d4d;
    font-size: 0.85rem;
    margin-top: 5px;
}




  