<!-- src/app/login/login.component.html -->
<section class="login">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="iniciarSesion()" #formulario="ngForm">

    <div class="form-group">
      <label for="nombreUsuario">Nombre de Usuario</label>
      <input
        type="text" 
        id="nombreUsuario"
        name="nombreUsuario"
        [(ngModel)]="cliente.nombreUsuario"
        required
        [ngClass]="{ 'error': formulario.submitted && !cliente.nombreUsuario }"
      />
      <div *ngIf="formulario.submitted && !cliente.nombreUsuario" class="error-message">
        El nombre de usuario es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="contrasena">Contraseña
        <a class="forgot-password-link" (click)="irARecuperarContrasena()">¿Has olvidado la contraseña?</a>
      </label>
      <input
        type="password" 
        id="contrasena"
        name="contrasena"
        [(ngModel)]="cliente.contrasena"
        required
        [ngClass]="{ 'error': formulario.submitted && !cliente.contrasena }"
      />
      <div *ngIf="formulario.submitted && !cliente.contrasena" class="error-message">
        La contraseña es obligatoria.
      </div>
    </div>

    <button type="submit">Iniciar Sesión</button>
  </form>

  <!-- Separador -->
  <div class="divider">¿Nuevo en la plataforma?</div>

  <!-- Botón para crear cuenta -->
  <button class="secondary-button" (click)="irACrearCuenta()">Crear una cuenta</button>
</section>

